// ------ fonts colors --------
$black-text: #121212;
$grey-text: #606060;
$red-text: #ff6464;

// ------ background colors --------
$white-color: #f3f3f3;
$grey-color: #979292;
$green-color: #e3fd16;

.input {
  label {
    display: block;
    color: $black-text;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px 16px;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    background-color: $white-color;
    border: 1px solid;
    border-color: $grey-color;
    transition: border-color 0.3s ease;
    border-radius: 0px;
    outline: none;

    &::placeholder {
      color: $grey-text;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      border-color: $black-text;
      color: $black-text;
    }
  }

  .error {
    margin-left: 16px;
    margin-top: 8px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -0.225px;
    color: $red-text;
  }
}

.password {
  position: relative;
}
