// ------ fonts colors --------
$black-text: #121212;
$grey-text: #606060;
$red-text: #ff6464;

// ------ background colors --------
$white-color: #f3f3f3;
$grey-color: #979292;
$green-color: #e3fd16;

.button {
  cursor: pointer;

  .button__content {
    white-space: nowrap;
  }

  &--large {
    font-family: 'Craftwork Grotesk Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: $black-text;

    .button__content {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    .button__arrow svg {
      transition: all 0.3s ease;
      transform-origin: left center;
    }

    &:hover svg {
      transform: scaleX(1.1);
    }

    &:disabled {
      color: $grey-color;
      cursor: not-allowed;

      .button__arrow {
        display: none;
      }
    }
  }

  &--medium {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 114%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $black-text;
    padding: 4px 8px;
    background-color: rgba($green-color, 1);
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba($grey-color, 0.2);
    }
  }
}
