@import '../../components/visual/variables';
@import '../../components/visual/grid-layout';
@import '../../components/visual/mixins';

.shop_page {
  @include grid-layout;
  grid-row: 1fr 1fr;
  padding: 0 48px;
  row-gap: 16px;
  height: auto;
  h1 {
    white-space: nowrap;
  }
}

.shop_title {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 32px 0px 32px;
}

.shop_container {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  width: 100%;
}


.shop_aside {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  padding: 0 24px;
  align-self: flex-start;
  min-width: 180px;
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }
}

.shop_page {
.card-header {
  margin-top: 8px;
}

.card-prices {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.base-price {
  display: flex;
  flex-direction: row;
  gap: 4px;
  @include h3-style;

  p {
    &:first-child {
      font-weight: 600;
    }

    &:nth-child(2) {
      font-weight: 900;
    }
  }
}
.discounted-price {
  @include h3-style;
  display: flex;
  gap: 4px;

  .new {
    @extend .base-price;
  }

  .old {
    align-self: flex-end;

    p {
      &:first-child {
        text-decoration: none;
        color: $grey-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
      }

      &:nth-child(2) {
        text-decoration: line-through;
        color: $grey-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
      }
    }

    
  }
}

.discount {
  display: flex;
  p {
   
    align-self: flex-end;
  margin-left: 2px;
  text-decoration: none;
  color: $grey-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  }
}
}

@media (max-width: 1024px) and (min-width: 769px) {
  .shop_container {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    width: 100%;
  }
  
  
  .shop_aside {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    padding: 0 24px;
}
}

@media (max-width: 768px) {
  .shop_page {
    column-gap: 0;
    padding: 24px 16px 32px 16px;
  }

  .shop_title {
    order: 1;
    grid-template-columns: 1fr;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .shop_container {
    order: 3;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
    height: auto;
  }
  
  .shop_aside {
    order: 2;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding: 0 24px;
    width: 100%;
    height: auto;
}
}