@import '../mixins';
@import '../variables';

.slider-basic {
  .slick-slider {
    width: 265px;
    height: 265px;
  }

  .slick-list {
    width: 265px;
    height: 265px;
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 265px;

    img {
      width: 265px;
      height: 265px;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    margin: -12.5px 0 0 0;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      transition: background-color 0.3s ease;
    }
  }

  .arrow-left {
    left: 3px;
    padding-right: 2px;
  }

  .arrow-right {
    right: 3px;
    padding-left: 2px;
  }
}

.slider-large {
  margin: 0 25px;

  .slick-slider {
    width: 78.947vw;
    max-width: 80vh;
    height: 80vh;
  }

  .slick-list {
    width: 78.947vw;
    max-width: 80vh;
    height: 80vh;
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    justify-content: flex-start;
    cursor: default;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78.947vw;
    max-width: 80vh;
    height: 80vh;

    img {
      width: 78.947vw;
      max-width: 80vh;
      height: 80vh;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    margin: -3.611vh 0 0 0;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      transition: background-color 0.3s ease;
    }
  }

  .arrow-left {
    left: 1.294vh;
    padding-right: 0.585vh;
  }

  .arrow-right {
    right: 1.294vh;
    padding-left: 0.585vh;
  }
}

@media(max-width: 950px) {
  .slider-large {
    margin: 0 2.941vw;

    .slick-slider {
      width: 78.947vw;
      height: 78.947vw;
      max-height: 80vh;
      aspect-ratio: 1 / 1;
    }

    .slick-list {
      width: 78.947vw;
      height: 78.947vw;
      max-height: 80vh;
      aspect-ratio: 1 / 1;
    }

    .slick-slide {
      width: 78.947vw;
      height: 78.947vw;
      max-height: 80vh;
      aspect-ratio: 1 / 1;

      img {
        width: 78.947vw;
        height: 78.947vw;
        max-height: 80vh;
        aspect-ratio: 1 / 1;
      }
    }

    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 50%;
      width: 6.177vw;
      height: 6.177vw;
      margin: -2.589vw 0 0 0;
    }

    .arrow-left {
      top: 50%;
      left: 3em;
      width: 24px;
      height: 24px;
    }

    .arrow-right {
      top: 50%;
      right: 3em;
      width: 24px;
      height: 24px;
    }

  }
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-image {
    width: 100%;
    max-width: 600px;
    padding: 24px 32px 24px 32px;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

  .slider-thumbnails {
    width: 100%;
    max-width: 600px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    .slick-slide {
      height: 72px;
      display: flex;
      gap: 16px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        max-height: 68px;
        width: auto;
        max-width: 100%;
        object-fit: cover;
        border: 1px solid transparent;

        &.selected {
          border-color: grey;
        }
      }
    }

    .arrow-left,
    .arrow-right {
      cursor: pointer;
      transition: all ease 0.5s;

      &:hover {
        opacity: 0.4;
      }
    }

    .arrow-left {
      margin-right: 16px;
    }

    .arrow-right {
      margin-left: 16px;
    }
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($white-color, 0.8);
  z-index: 1000;

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    padding: 24px 32px;

    .arrow-left,
    .arrow-right,
    .button--small {
      position: absolute;
      background-color: transparent;
      cursor: pointer;
      transition: all ease 0.5s;
    }

    .arrow-left {
      top: 50%;
      left: -3em;
      width: 24px;
      height: 24px;
    }

    .arrow-right {
      top: 50%;
      right: -3em;
      width: 24px;
      height: 24px;
    }

    .button--small {
      top: 0px;
      right: 0px;
      width: 24px;
      height: 24px;
    }

    .slider-images {
      width: 70%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      }
    }
  }  
  @media (max-width: 950px) {
    .modal {
     
    
      .modal-content {
        padding: 24px 32px;
    
        .arrow-left,
        .arrow-right,
        .button--small {
          position: absolute;
          background-color: transparent;
          cursor: pointer;
          transition: all ease 0.5s;
        }
    
        .arrow-left {
          top: 50%;
          left: 1em;
          width: 24px;
          height: 24px;
        }
    
        .arrow-right {
          top: 50%;
          right: 1em;
          width: 24px;
          height: 24px;
        }
    
        .button--small {
          top: 0px;
          right: 0px;
          width: 24px;
          height: 24px;
        }
    
        .slider-images {
          width: 60%;
          height: 60%;
    
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
          }
        }
      }  
}
}