.slider-basic {
  .slick-slider {
    width: 265px;
    height: 265px;
  }

  .slick-list {
    width: 265px;
    height: 265px;
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 265px;

    img {
      width: 265px;
      height: 265px;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    margin: -12.5px 0 0 0;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      transition: background-color 0.3s ease;
    }
  }

  .arrow-left {
    left: 3px;
    padding-right: 2px;
  }

  .arrow-right {
    right: 3px;
    padding-left: 2px;
  }
}

.slider-large {
  margin: 0 25px;

  .slick-slider {
    width: 78.947vw;
    max-width: 80vh;
    height: 80vh;
  }

  .slick-list {
    width: 78.947vw;
    max-width: 80vh;
    height: 80vh;
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    justify-content: flex-start;
    cursor: default;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78.947vw;
    max-width: 80vh;
    height: 80vh;

    img {
      width: 78.947vw;
      max-width: 80vh;
      height: 80vh;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    width: 7.222vh;
    height: 7.222vh;
    margin: -3.611vh 0 0 0;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      transition: background-color 0.3s ease;
    }
  }

  .arrow-left {
    left: 1.294vh;
    padding-right: 0.585vh;
  }

  .arrow-right {
    right: 1.294vh;
    padding-left: 0.585vh;
  }
}

@media(max-width: 950px) {
  .slider-large {
    margin: 0 2.941vw;

    .slick-slider {
      width: 78.947vw;
      height: 78.947vw;
      max-height: 80vh;
      aspect-ratio: 1 / 1;
    }

    .slick-list {
      width: 78.947vw;
      height: 78.947vw;
      max-height: 80vh;
      aspect-ratio: 1 / 1;
    }

    .slick-slide {
      width: 78.947vw;
      height: 78.947vw;
      max-height: 80vh;
      aspect-ratio: 1 / 1;

      img {
        width: 78.947vw;
        height: 78.947vw;
        max-height: 80vh;
        aspect-ratio: 1 / 1;
      }
    }

    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 50%;
      width: 6.177vw;
      height: 6.177vw;
      margin: -2.589vw 0 0 0;
    }

    .arrow-left {
      left: 1.294vw;
      padding-right: 0.559vw;
    }

    .arrow-right {
      right: 1.294vw;
      padding-left: 0.559vw;
    }
  }
}