@import '../variables';
.checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -8px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: $grey-text;
    position: relative;
}

.checkbox-input {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    position: relative;
    padding-left: 24px; // Общий размер блока + маргин, чтобы текст не перекрывался
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        width: 12px; 
        height: 12px; 
        background-color: $white-color;
        border: 1px solid $grey-color;
        border-radius: 0px;
        position: absolute;
        left: 0; 
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    &:hover::before {
        border-color: $black-text; 
    }
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: $green-color;
    border: 1px solid $green-color;
}

// .checkbox-label {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     font-family: 'Roboto Regular', sans-serif;
// 	font-weight: 400;
// 	font-size: 11px;
// 	line-height: 130%;
// 	letter-spacing: 0.02em;
// 	color: $grey-text;
  
//     input[type="checkbox"] {
//       margin-right: 0.5em; 
//       cursor: pointer;
//     }
  
//     input[type="checkbox"]:checked {

//     }
  
//     input[type="checkbox"]:hover {
    
//     }
  
//     input[type="checkbox"]:focus {
//       outline: none; 
//     }
//   }
  
//   .checkbox-label {
//     font-size: 1rem; 
//     color: #333; 
//   }