// ------ fonts --------

@font-face {
	font-family: 'Craftwork Grotesk Heavy';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/Craftwork_Grotesk/CraftworkGrotesk-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'Craftwork Grotesk Semi Bold';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/Craftwork_Grotesk/CraftworkGrotesk-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Craftwork Grotesk Medium';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/Craftwork_Grotesk/CraftworkGrotesk-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Regular';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}