@mixin grid-layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 24px;
    row-gap: 80px;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    @media (max-width: 1024px) and (min-width: 769px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 768px) 
     {
        grid-template-columns: 1fr;
     }
  }