// ------ fonts colors --------
$black-text: #121212;
$grey-text: #606060;
$red-text: #ff6464;

// ------ background colors --------
$white-color: #f3f3f3;
$grey-color: #979292;
$green-color: #e3fd16;