@import '../mixins';
@import '../variables';

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px 32px;
  width: 100%;
  height: auto;

  > *:nth-child(5n + 1) {
    grid-column: span 2;
  }
}

.product-card.shop {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 16px;
  transition: all 0.3s ease;
  text-decoration: none; 
  color: inherit;

  &:before {
    content: none;
  }

  img {
    height: auto;
    width: 100%;
    transition: all 0.3s ease;
  }

  p {
    max-width: 450px;
  }

  h3 {
    font-weight: 900;
  }

  .button {
    margin-top: 12px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);

    img {
      filter: blur(1px);
    }
  }
}


@media (max-width: 1024px) and (min-width: 769px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 24px 32px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px 32px;
    width: 100%;
    height: auto;
  
    > *:nth-child(5n + 1) {
      grid-column: span 1;
    }
  }
}