@import '../variables';

.header {
  min-height: 48px;
  display: flex;
  gap: 48px;
  font-family: 'Craftwork Grotesk Medium', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: $black-text;
  white-space: nowrap;
  align-items: center;
  padding: 12px 48px;
  background-color: $green-color;
  text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 1000;

  nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;
      gap: 48px;
      flex-grow: 1;
      justify-content: space-between;

      li {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        .active {
            text-decoration: underline;
          }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



#register-link {
  flex-grow: 0;
}

.logo-header {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black-text;

  .active {
      text-decoration: none;
  }
}

@media (max-width: 768px) {
  .burger-menu_inactive {
    right: -150px;
  }

  .burger-menu_active {
    right: 0px;
  }

  .header {
    justify-content: space-between;
    padding: 12px 16px;

    nav {
      display: block;
      position: absolute;
      top: 0;
      padding-top: 48px;
      background-color: $green-color;
      transition: right 0.3s ease;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 48px;
        flex-grow: 0;
        align-items: center;
        width: 150px;
        padding: 48px 0;
      }
    }
  }
}
