form {
    display: flex;
    flex-direction: column;
    gap: 16px;  
}

button {
    align-self: flex-start;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -8px;
    margin-bottom: 16px;
}