form {
    display: flex;
    flex-direction: column;
    gap: 16px;  
}

button {
    align-self: flex-start;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -8px;
    margin-bottom: 16px;
}

.minmax-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    &> :last-child {
        padding-top:23px ;
    }
}

.dash {
    padding-top:28px ; 
}

.sort-container,
.filter-container {
    display: flex;
    flex-direction: column;
gap: 16px;
}