/*
  Global settings
*/

// Import of global variables, mixins, and base styles
@import './components/visual/grid-layout';
@import './components/visual/variables';
@import './components/visual/fonts';
@import './components/visual/reset';

// Import of global components
@import './components/visual/inputs/inputs.scss';
@import './components/visual/forms/forms.scss';
@import './components/visual/buttons/buttons.scss';
@import './components/visual/header/header.scss';
@import './components/visual/checkbox/checkbox.scss';

body {
  display: flex;
  position: relative;
  min-height: 100vh;
  font-size: 16px;
  background-color: $white-color;
  overflow-x: hidden;
}

h1 {
  font-family: 'Craftwork Grotesk Heavy', sans-serif;
  font-weight: 900;
  font-size: 4em;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: $black-text;
}

h2 {
  font-family: 'Craftwork Grotesk Medium', sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 125%;
  color: $black-text;
}

h3 {
  font-family: 'Craftwork Grotesk Semi Bold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $black-text;
}

h4 {
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.01em;
}

h5 {
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
}

p {
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: $black-text;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: $green-color;
  z-index: -1;
}

a:hover {
  color: $black-text;
}

span {
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: $grey-text;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.black-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 1024px) {
  body {
    height: auto;
    font-size: 12px;
  }
}
